@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');









/* .navlinks{
    font-family: 'Audiowide', cursive;
    color: whitesmoke!important;
    
}

.navlinks:hover{
    color: #d39c24 !important;
}


.socials{
    width: 30%;
    height: auto;
} */





.logo{
    width: auto;
    height: 40%;
}

.title1{
    color: #d39c24;
    font-family: 'Audiowide', cursive;
    font-size: 35pt;

}
.title2{
    color: whitesmoke;
    font-family: 'Audiowide', cursive;
    font-size: 50pt;

}

.centerrow{
    position: absolute;
    top: 40%;
    left: 24%
}